.navbar{
    height:60px;
    display:flex;
    align-items: center;
    background-color: rgb(25, 35, 51);
    
    
}
.logo{
    width:100px;
    margin:18px 20px 0px;

}


.search{ 
    display:flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}


.searchInput{
border-radius: 5px;
height:10px;
padding:10px;
width:100%;
border:none;

}
.searchIcon{
    padding:5px;
    height: 22px;
    border-radius:6px;
    background-color: rgb(71, 145, 214);
    
}


.nav{
    display: flex;
    justify-content: space-evenly;
    
}


.option{
    display :flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    color:white;
}

.optionOne{
    font-size: 12px;
}

.optionTwo{
    font-size:15px;
    font-weight: 700;
}

.optionCart{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.cartCount{
    margin: 0 10px;
}